<!--
Spinning up:
Route53 record: :green-check-mark: created
RDS DB: :green-check-mark: created
RDS user: :green-check-mark: created
Database: downloading...|loading...|sanitizing...|created.m
EC2: stopping... | :green-check-mark: created
^ after this: Done! For 1 second, then remove row.

Tearing down:
Route53 record: :green-check-mark: deleted
RDS DB: :green-check-mark: deleted
RDS user: :green-check-mark: deleted
Database: deleting...|deleted
EC2: stopping... | :green-check-mark: deleted
^ after this: Done! For 1 second, then remove row.
-->

<div class="branch-action-item js-details-container Details open Details--on">
  <div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
    <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
  </div>

  <div class="">
    <button type="button" class="btn-link float-right js-details-target" data-initial-state="false" aria-expanded="true">
      <span class="statuses-toggle-opened">Hide all checks</span>
      <span class="statuses-toggle-closed">Show all checks</span>
    </button>

    <h4 class="status-heading">All checks have passed</h4>
    <span class="status-meta">1 successful check</span>
  </div>

  <div class="merge-status-list">
    <div class="merge-status-item d-flex flex-items-baseline">
      <div class="merge-status-icon flex-self-center">
        <svg aria-hidden="true" class="octicon octicon-check mx-auto d-block text-green" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5z"></path></svg>
      </div>

        <a href="http://circleci.com" class="d-inline-block tooltipped tooltipped-e muted-link mr-2" aria-label="Circle (@circleci) generated this status.">
          <img alt="" class="avatar" height="20" src="https://avatars0.githubusercontent.com/u/1231870?v=3&amp;s=40" width="20">
        </a>

      <div class="text-gray col-10 css-truncate css-truncate-target" title="Your tests passed on CircleCI!">
        <strong class="text-emphasized">
          ci/circleci
        </strong>
          — Your tests passed on CircleCI!
      </div>

      <div class="d-flex col-2 flex-shrink-0">
        <a class="status-actions" href="https://circleci.com/gh/minervaproject/picasso/21616?utm_campaign=vcs-integration-link&amp;utm_medium=referral&amp;utm_source=github-build-link">Details</a>
      </div>
    </div>
  </div>
</div>
