.issues-listing li {
  position: relative;
}

.qai-badge {
  position: absolute;
  bottom: 0;
  right: 16px;
}

.qai-link {

}

.qai-complete {

}

.qai-building {

}

.qai-hide {
  display: none;
}

.qai-off-right {
  padding: 10px;
  position: absolute;
  right: -50px;
  width: 50px;
  height: 56px;
  top: -1px;
  border: 1px solid #e1e4e8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}