.issues-listing li {
  position: relative;
}

.qai-off-right {
  padding: 10px;
  position: absolute;
  right: -50px;
  width: 50px;
  height: 56px;
  top: -1px;
  border: 1px solid #e1e4e8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
